{% extends "Milibreria/base.html" %}

{% load static %}



{% block titulo %} Librería {% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'Milibreria/styles/index.css' %}">

{% endblock %}


{% block main %}

<section id="inicio">

  <div class="container">
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="5000">
          <img src="{% static 'Milibreria/img/portada.jpg' %}" alt="portada" class="d-block w-100">
        </div>
        <div class="carousel-caption d-none d-md-block">
          <h1>Librería Django</h1>
          <p>Leer para soñar</p>
          <p>Encuentra todo lo que estas buscando en nuestros diversas colecciones.</p>

        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="{% static 'Milibreria/img/ninoslibros.jpg' %}" alt="niños" class="d-block w-100">
        </div>
        <div class="carousel-item">
          <img src="{% static 'Milibreria/img/promo.jpg' %}" alt="promo" class="d-block w-100">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>

<section id="descripcion">
  <div class="container">
    <h2>Somos Librería Django</h2>

    <p>Somos una Librería especializada en Literatura Universal, Educación, y Ciencias Sociales y Humanísticas en
      general.

      Con más de 59 años, la Librería nació en 1962, cuando la Editorial quiso tener un salón de exposición y venta de
      su catálogo.

      El día de hoy, la Librería Django es independiente de la Editorial y ofrece a la venta catálogos de distintas
      editoriales; siempre manteniendo la especialización.

      Nuestro local desde hace más de 58 años se encuentra ubicado en la ciudad de Buenos Aires, en el barrio de
      Palermo, y allí tenemos todo el material para ofrecerles.

      Los esperamos.
    </p>
  </div>
</section>

<section id="descripcion-libro">
  <div class="container">
    <h2>Elige tu colección favorita!</h2>
  </div>
</section>

<section id="coleccion">
  <div class="container">

    <div class="col ml-5">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'Milibreria/img/ninoharry.jpg' %}" alt="libro1" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Literatura infantil</h5>
          <p class="card-text">Nuevos mundos imaginarios para niños.</p>
          <a href="{%  url 'loginusuario' %}" class="button">Comprar</a>
        </div>
      </div>
    </div>

    <div class="col ml-5">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'Milibreria/img/libroa.jpg' %}" alt="libro2" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Literatura Universal</h5>
          <p class="card-text">Explora las obras literarias famosas.</p>
          <a href="{%  url 'loginusuario' %}" class="button">Comprar</a>
        </div>
      </div>
    </div>

    <div class="col ml-5">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'Milibreria/img/latinoamerica.jpeg' %}" alt="libro3" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Literatura latinoamericana</h5>
          <p class="card-text">Encuentra las novelas y autores mas importantes.</p>
          <a href="{%  url 'loginusuario' %}" class="button">Comprar</a>
        </div>
      </div>
    </div>

  </div>
</section>

<Section id="contacto">
  <div class="container">
</section>

{% endblock %}