{% extends "Milibreria/base.html" %} 

{% load static %}

{% block titulo %} Listado de Clientes {% endblock %}

{% block extra_css %} 

<link rel="stylesheet" href="{% static 'Milibreria/styles/listaProducto.css' %}">

{% endblock %}


{% block main %}

<section>
    <div class="titulo">
        <h2> Lista de clientes</h2>
    </div>
</section>

<section class="lista">
    <div class="bg-image h-100">
<div class="mask d-flex align-items-center h-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="card shadow-2-strong">
                    <div class="card-body">
                        <div class="table-responsive">
                             {% csrf_token %}
                            <table class="table">
                                
                               <thead>
                                     <tr>
                                            <th scope="col">Nombre</th>
                                            <th scope="col">Apellido</th>
                                            <th scope="col">DNI</th>
                                            <th scope="col">Accion</th>
                                    </tr>
                                </thead> 
                                {% for cliente in clientes %}
                                    <tbody>
                                        
                                    <tr>
                                    <th scope="row"> 
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1" checked/></div></th>    
                                    
                                       <td>{{ cliente.nombre }}</td>
                                       <td> {{ cliente.apellido }} </td>
                                        <td> {{ cliente.dni }} </td>
                                        <td><a href="/" class="btn btn-warding">Eliminar</a> 
                                              <a href="/" class="btn btn-warding">Editar</a> 
                                       
                                        </td>
                                    {% empty %}
                                    <th>
                                        <p>No hay clientes</p>
                                    </th>

                                    
                                {% endfor %}

                                    </tbody>
                                <tbody>
                                    
                                    <th scope="row"> </th>
                                        <div class="gap-3 d-md-flex position-absolute fixed-bottom justify-content-md-center mb-3">
                                        <a href="{%  url 'altaCliente' %}" class="btn btn-warding">Registro</a>
                                        
                                          
                                           
                                        </div>
                                </tbody>
                             
                            
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
 </div>
</section>
{% endblock %}