{% extends "Milibreria/base.html" %} 

{% load static %}

{% block titulo %} Formulario {% endblock %}

{% block extra_css %} 

<link rel="stylesheet" href="{% static 'Milibreria/styles/loginusuario.css' %}">

{% endblock %}


{% block main %}



<section id="formulario">

  <form class="col-md-12" method="POST" action="{% url 'loginusuario' %}">

   {% csrf_token %}    <!-- si no esta no funciona el post --> 
 
   <div class="form-row">
     
 
   {{ loginusuario_form.as_p }}   <!--agregamos .as_p--> 
 
   <input type="submit">
   </div>
 </form>
</section>


{% endblock %}









    