<<<<<<< HEAD
#inicio{
    background-color:#FFE9D0;
}

.container .slide {
    display:flex;
    flex-direction:row;     
    background-size: cover;
   background-repeat: no-repeat;
   justify-content: center;
   height: 100vh;
   width: 100%;
   margin: none;
=======
#inicio {
    background-color: #D2649A;
}
>>>>>>> 4e13c0e6b073d1bfc4bd300e74baa59a923fff79

.container .slide {
    display: flex;
    flex-direction: row;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    height: 100vh;
    width: 100%;
    margin: none;

}

.slide img {
    height: 100vh;
    width: 100vw;
}

#inicio h1 {
    color: white;
    font-weight: bold;
    font-size: 3vw;
    text-align: center;

}

.btn {
    background-color: #D2649A;
}

<<<<<<< HEAD
a.btn{
color:black
}

.btn{
    background-color:#FFE9D0;
    border: 2px solid rgba(0,0,0,0.3);
    }

.btn:hover{
background-color:#fc94af;
}

      
     
=======
>>>>>>> 4e13c0e6b073d1bfc4bd300e74baa59a923fff79
#descripcion {
    background-color: #FFE9D0;
    
    display: flex;
    background-size:cover; 
    align-items: center;
    justify-content: center;
    text-align: center;
<<<<<<< HEAD
    flex-direction:column;
    height: 100%;
    width: 100%;
    margin:none;
    padding:3%;
  
}

#descripcion h2{
    font-size: 3vw; 
    color: black;  
}
#descripcion p{
    font-size: 2vw;  
    text-align: center;  
    color: black;
    opacity: none;
}

#descripcion .container{
    padding: 11%;
    height: 70%;
    width: 100%;
    margin:none;
    background-image: url('/static/Milibreria/img/descripcion1.jpeg');
    background-repeat:no-repeat;
    background-size:cover; 
    background-position: center center;
    justify-content: center;
}

#coleccion{
    background-color:#FFE9D0;
}

#coleccion .card{
    width: 100%;
    height: 100%;         
=======
    flex-direction: column;
    background-repeat: no-repeat;
>>>>>>> 4e13c0e6b073d1bfc4bd300e74baa59a923fff79
    background-size: cover;
    background-position: center center;
    background-color: #D2649A;
    padding-top: 100px;
}

#descripcion h2 {
    font-size: 3vw;
}

#descripcion p {
    font-size: 2vw;
    text-align: center;
}

#descripcion .container {
    text-align: center;
}

#coleccion {
    background-color: #D2649A;
    padding-bottom: 50px;
}

#coleccion .card {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgb(239, 230, 230);
}

#coleccion .container {
    display: flex;
    justify-content: row;
    width: 100%;
    align-items: center;
    background-position: center center;
    background-size: cover;
    margin: none;

}

#descripcion-libro h2 {
    font-size: 3vw;
}

#descripcion-libro {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
<<<<<<< HEAD
    background-color:#FFE9D0;
    }
=======
    background-color: #D2649A;
    padding-top: 100px;
}
>>>>>>> 4e13c0e6b073d1bfc4bd300e74baa59a923fff79

#descripcion-libro .container {
    text-align: center;
    padding: 5vh;
    height: 10%;
    width: 100%;
    margin: none;

}

.card img {
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.button {
    background-color: #D2649A;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    text-decoration: none;
}

.button:hover {
    background-color: rgb(239, 230, 230);
    color: #D2649A;
    border: 2px solid #D2649A;
}
