body{

    background-position: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:100%;
    margin:auto;    
    background-color:#b3b792;
}


#inicio {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction:column;
    height: 95vh;
    width: 100wh;
    background-repeat:no-repeat;
    background-size:cover; 
    background-position: center center;
    margin: none;
}

.carousel-item img{
    width: 100%;
    height:100%;         
    background-size: cover;
    background-position: center center;
   background-repeat: no-repeat;
   background-attachment: fixed; 
   }

#inicio h1{
        color:#b3b792;
         font-weight: bold;
         font-size: 3vw;
         text-align: center;
        
        }


        
#descripcion {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction:column;
    height: 100vh;
    width: 100wh;
    background-repeat:no-repeat;
    background-size:cover; 
    background-position: center center;
    margin: none;
    background-color: #b3b792;
   
}

#descripcion h2{
    font-size: 3vw;   
}
#descripcion p{
    font-size: 2vw;  
    text-align: center;  
}

#descripcion .container{
    text-align: center;
    padding: 10vh;
    height: 80vh;
    width: 100%;
   
}

#coleccion .card{
    width: 100%;
    height: 100%;         
    background-size: cover;
    background-position: center center;
   background-repeat: no-repeat;
   background-attachment: fixed; 
}

#coleccion .container{
    display: flex;
    justify-content: row;
    background-color:white;
    width: 100%;
    align-items: center;
    background-position: center center;
    background-size: cover;

}

#descripcion-libro h2{
    font-size: 3vw;
    }

 #descripcion-libro .container{
        text-align: center;
        padding: 20vh;
        height: 30vh;
        width: 100%;
        background-color: #b3b792;
    
    }

    .card img{
    width: 100%;
    height: 50vh;         
    background-size: cover;
    background-position: center center;
   background-repeat: no-repeat;
   background-attachment: fixed; 

    }